* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', 'Courier New', Courier, monospace;
  text-align: center;
}

h1 {
  height: 4rem;
}

#board {
  display: grid;
  width: calc(100vmin - 8rem);
  height: calc(100vmin - 8rem);
  margin: 0 auto;
  background: #333;
}

.snake {
  background-color: limegreen;
  border: 0.25vmin solid black;
}

.food {
  background-color: tomato;
  border: 0.25vmin solid black;
}
