:root {
  --font: 'VT323', 'Courier New', Courier, monospace;
  --clr-light: #e3ff95;
  --clr-dark: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--clr-dark);
  font-family: var(--font);
  font-size: 24px;
  color: var(--clr-light);
  text-align: center;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

/* SNAKE GAME */
.container {
  display: grid;
  grid-template-rows: 10vmin 80vmin 10vmin;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.score {
  display: flex;
  align-items: center;
  width: 80vmin;
  margin: 2rem auto 1rem;
  font-size: 2rem;
}

#board {
  display: grid;
  width: 80vmin;
  height: 80vmin;
  margin: 0 auto;
  background: var(--clr-light);
  border: 1rem solid var(--clr-dark);
  box-shadow: 0 0 0.2rem var(--clr-light);
  cursor: none;
}

.snake,
.snake-head,
.food {
  border: 1px solid var(--clr-light);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.snake {
  background-image: url('/assets/snake-body.png');
}

.snake-head {
  background-image: url('/assets/snake-head.png');
}

.food {
  background-image: url('/assets/apple.png');
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 1rem;
  left: 0;
  z-index: 600;
  width: 100%;
  font-size: 1rem;
  color: #999;
}

/* GAME MODALS: Game Start, Game Over */
h1 {
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 0 0 0.2rem var(--clr-light);
}
.box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: var(--clr-dark);
}
.box.show {
  display: flex;
}
.box-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 95%;
  max-width: 500px;
  margin: 2rem;
  padding: 2rem;
  border: 0.5rem solid var(--clr-dark);
  background: var(--clr-light);
  color: var(--clr-dark);
  box-shadow: 0 0 0.2rem var(--clr-light);
}
.box-input-group {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  height: 2.5rem;
}
.box-label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: var(--clr-dark);
  color: var(--clr-light);
}
.box-input {
  height: 100%;
  border: 2px solid var(--clr-dark);
  background: var(--clr-light);
  text-align: center;
}
.box-input-btn {
  height: 100%;
  border: 2px solid var(--clr-dark);
  background: var(--clr-light);
  cursor: pointer;
}
.box-button {
  padding: 0.5rem 1rem;
  border: 5px solid var(--clr-dark);
  background: var(--clr-dark);
  color: var(--clr-light);
  text-transform: uppercase;
  cursor: pointer;
}
.box-button:hover {
  background: var(--clr-light);
  color: var(--clr-dark);
}
.box-button:focus {
  outline: 1px solid white;
  box-shadow: 0 0 10px white;
}
