:root {
  --font: 'Pixelify Sans', 'Courier New', 'Courier New', Courier, monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  font-family: var(--font);
  color: #e3ff95;
  text-align: center;
}

.container {
  display: grid;
  grid-template-rows: 15vmin 5vmin 70vmin 10vmin;
  align-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 0 0 0.2rem #e3ff95;
}

.score {
  display: flex;
  align-items: space-between;
  width: 70vmin;
  margin: 0 auto;
  font-size: 1.5rem;
}

#board {
  display: grid;
  width: 70vmin;
  height: 70vmin;
  margin: 0 auto;
  background: #e3ff95;
  border: 1rem solid #333;
  box-shadow: 0 0 0.2rem #e3ff95;
}

.snake,
.snake-head,
.food {
  border: 1px solid #e3ff95;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.snake {
  background-image: url('/assets/snake-body.png');
}

.snake-head {
  background-image: url('/assets/snake-head.png');
}

.food {
  background-image: url('/assets/apple.png');
}

footer {
  font-size: 1rem;
  color: #999;
}
